body
{
    padding: 10px;
    font-family: "Tahoma";
    font-size: 13px;
    background-image: url('../images/bg.jpg');
    height: 100%;
    color:#fff;
}

a
{
    color:#000;
    text-decoration: none;
}

h1{
    background-color: #fff;
    color: #000;
    padding: 5px;
    font-size: 21px;
    border-bottom: 1px solid #E4E4E4;
    margin-top: -10px;
}

tr
{
    color:#000;
}

.btn
{
    font-size: 11px;
    display: inline;
    background-color: #000;
    border: 1px solid #686868;
    padding: 10px;
    margin: 1px;
    color:#fff;
}

.btn a
{
    color:#fff;
}

input[type="submit"]
{
    background-color: #fff;
    padding: 10px;
    border: 1px solid #E7E6E6;
}

input[type="text"],input[type="password"]
{
    border: 1px solid #B6B6B6;
    border-radius: 3px;
    padding: 7px;
    background-color: #FFF;
    color: #000000;
}

select
{
    border: 1px solid #B6B6B6;
    border-radius: 3px;
    padding: 7px;
    background-color: #FFF;
    color: #000000;
}

.header
{
    #border: 1px solid #7C7C7C;
    border-radius: 4px;
}

.header .menu
{
    list-style: none;
    margin-left: -35px;
    margin-top: 18px;
    min-height: 20px;
}

.header .menu li
{
    display: inline;

}

.header .menu a{
    color:#fff;
    font-weight: bold;
    text-decoration: none;
    background-color: #000000;
    border: 1px solid #727272;
    padding: 10px;
    margin: 1px;
}

.header .menu li:hover{
    box-shadow: 0px 0px 1px 0px #0094F7;
    cursor: pointer;
}

.header .menu .divider
{
    border-right: 1px solid #000;
    display: inline;
    padding-right: 5px;
    margin-right: 5px;
}

.footer
{
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    color: #000;
    background-color: #fff;
}

.content
{
    margin-top: 10px;
    margin-bottom: 10px;
    #border:1px solid #7C7C7C;
    padding: 10px;
    color: #000;
    background-color: #fff;
}

.login_form
{
    #border: 1px solid #000;
    padding: 3px;
}

.login_button
{
    background-color: #FFF;
    border-radius: 3px;
    border: 1px solid #A3A3A3;
    padding: 10px;
    padding-left: 18px;
    padding-right: 18px;
    cursor: pointer;
}

.login_button:hover
{
    background-color:#EEE;
    border: 1px solid #D3D3D3;
}

.user_profile
{
    margin-top: 10px;
    min-height: 600px;
}

.user_profile .left_block
{
    padding: 10px;
    margin-left: 10px;
    width:310px;
    min-height: 300px;
    position: absolute;
    background-color: #000;
}

.user_profile .left_block .avatar
{
    width: 222px;
    height: 222px;
    margin-left: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid #9C9C9C;
    border-bottom: 1px solid #9C9C9C;
    padding: 3px;
}

.user_profile .left_block .friends
{
    border: 1px solid #968D8F;
    padding: 10px;
    min-height: 150px;
    font-size: 12px;
    background-color: #fff;
}

.user_profile .left_block .friends .friends_label
{
    text-align: center;
    margin-bottom: 10px;
    background-color: #000000;
    padding: 5px;
    color: #fff;
}

.user_profile .left_block .friends .friend
{
    #border: 1px solid #968D8F;
    width: 90px;
    height: 90px;
    float:left;
    margin-right: 15px;
    text-align: center;
}

.user_profile .right_block
{
    margin-left: 350px;
    width:900px;
    padding: 5px;
    border-radius: 3px;
}

.user_profile .right_block .user_info
{
    border: 1px solid #7A7A7A;
    padding: 5px;
    border-radius: 5px;
    background-color: #fff;
}

.user_profile .right_block .user_info .user_name
{
    font-size: 18px;
    color: #000;
    padding: 5px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #D5D5D5;
    margin-bottom: 5px;
    border-radius: 4px;
}

.user_profile .right_block .user_info .about
{
    padding: 9px;
    margin-bottom: 5px;
    color: #FFF;
    margin-top: 34px;
    background: #000;
    border: 1px solid #616161;
}

.user_profile .right_block .user_info .about p
{
    margin: 4px;
    border-bottom: 1px solid #5C5C5C;
}

.user_profile .right_block .user_info .label
{
    font-size: 16px;
    min-width: 60px;
    padding: 5px;
    text-align: center;
    float: left;
    border-bottom: 1px solid #b0b0b0;
    background-color: #fff;
}

.wall
{
    color: #000;
    #border: 1px solid #b0b0b0;
    padding: 10px;
    margin-top: 5px;
    background-color: #fff;
}

.wall .record
{
    border: 1px solid #b0b0b0;
    padding: 10px;
    min-height: 105px;
    margin-bottom: 10px;
}

.wall .input_form
{
    resize: none;
    width: 600px;
    height: 70px;
    border: 1px solid #D6D6D6;
}

.wall .record .wall_record_avatar
{
    border: 1px solid #b0b0b0;
    width: 100px;
    height: 100px;
    float:left;
    margin-right: 10px;
}

.wall .record .wall_record_right_block
{

}

.wall .record .wall_record_username
{
    font-size: 16px;
}

.wall .record .text
{
    margin-top: 30px;
    font-size: 12px;
}


.friend_list
{

}

.friend_list .friend
{
    border-bottom: 1px solid #D1D1D1;
    padding-bottom: 10px;
    margin-top: 10px;
}

.form
{
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
    color:#000;
}

.form label
{
    float:left;
    width:100px;
}