body
{
    padding: 10px;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 12px;
    #background-image: url('../images/bg.jpg');
    background-color: #E6E6E6;
    height: 100%;
    color:#fff;
}

a
{
    color:#000;
    text-decoration: none;
}

h1{
    background-color: #fff;
    color: #000;
    padding: 7px;
    font-size: 21px;
    border-bottom: 1px solid #E4E4E4;
    border-radius: 4px;
}

h1 a{
    color: #975249;
}

hr
{
    border: 0px;
    border-bottom: 1px solid #dfdfdf;
}

.logo
{
    color: #975249;
    font-size: 57px;
    margin-left: 30px;
    border-bottom: 1px solid #C0C0C0;
    margin-top: -22px;
}

.logo a
{
    color:#975249;
}

tr
{
    color:#000;
}

.yiiPager
{
    list-style: none;
    display: inline-flex;
}

.yiiPager .hidden
{
    display: none;
}

.yiiPager li
{
    margin-right: 5px;
    background-color: #6B6B6B;
    color: #fff;
    padding: 7px;
}

.yiiPager li a
{
    color:#fff;
}

.btn
{
    font-size: 11px;
    display: inline-block;
    background-color: #975249;
    border: 1px solid #686868;
    padding: 10px;
    margin: 1px;
    color:#fff;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.btn-mini
{
    padding: 4px;
    font-size: 11px;
}

.btn a
{
    color:#fff;
}

input[type="submit"],input[type="button"]
{
    background-color: #fff;
    padding: 10px;
    border: 1px solid #E7E6E6;
}

input[type="submit"]:hover,input[type="button"]:hover
{
    background-color: #B9B9B9;
    color: #fff;
    padding: 10px;
    border: 1px solid #E7E6E6;
    cursor: pointer;
}

input[type="text"],input[type="password"],textarea
{
    border: 1px solid #B6B6B6;
    border-radius: 3px;
    padding: 7px;
    background-color: #FFF;
    color: #000000;
    font-family: "Tahoma";
}

select
{
    border: 1px solid #B6B6B6;
    border-radius: 3px;
    padding: 7px;
    background-color: #FFF;
    color: #000000;
}

.header
{
    border-radius: 4px;
}

.header .menu
{
    list-style: none;
    margin-left: -15px;
    margin-top: 18px;
    min-height: 20px;
}

.header .menu li
{
    display: inline;
}

.header .menu .logout_btn
{
    float: right;
    margin-right: 10px;
}

.header .menu a{
    color: #FFFFFF;
    text-decoration: none;
    background-color: #975249;
    border: 1px solid #727272;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 1px;
    font-size: 11px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.header .menu a:hover
{
    background-color: #C01010;
}

.header .menu .divider
{
    border-right: 1px solid #000;
    display: inline;
    padding-right: 5px;
    margin-right: 5px;
}

.footer
{
    padding-top: 30px;
    border-radius: 4px;
    text-align: center;
    color: #000;
}

.footer .footer_menu
{
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.footer .footer_menu a
{
    color: #975249;
    font-weight: bold;
    font-size: 14px;
    border-right: 1px solid #A3A3A3;
    padding-right: 7px;
    padding-left: 5px;
}

.content
{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    padding: 10px;
    padding-left: 20px;
    color: #000;
}

.login_form
{
    #border: 1px solid #000;
    padding: 3px;
}

.login_button
{
    background-color: #FFF;
    border-radius: 3px;
    border: 1px solid #A3A3A3;
    padding: 10px;
    padding-left: 18px;
    padding-right: 18px;
    cursor: pointer;
}

.login_button:hover
{
    background-color:#EEE;
    border: 1px solid #D3D3D3;
}

.user_profile
{
    margin-bottom: 10px;
    margin-top: 10px;
    min-height: 600px;
}

.user_profile .left_block
{
    padding: 10px;
    width: 310px;
    min-height: 300px;
    position: absolute;
    border: 1px solid #D5D5D5;
    border-radius: 5px;
    margin-top: 5px;
    background-color: #fff;
}

.user_profile .left_block .profile_buttons
{
    padding: 10px;
    padding-left: 0px;
    margin-bottom: 5px;
    text-align: center;
}

.user_profile .left_block .profile_buttons a
{
    border-bottom: 10px;
    display: block;
}

.user_profile .left_block .profile_buttons .btn
{
    padding: 7px;
    border-radius: 3px;
    margin-bottom: 5px;
    background-color: #F1F1F1;
    color: #000;
    border: 1px solid #DADADA;
}

.user_profile .left_block .profile_buttons .btn:hover
{
    background-color: #DBDBDB;
}

.user_profile .left_block .avatar
{
    width: 222px;
    height: 222px;
    margin-left: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 3px;
}

.user_profile .left_block .friends
{
    border: 1px solid #F0F0F0;
    padding: 10px;
    font-size: 12px;
    background-color: #fff;
    min-height: 210px;
}

.user_profile .left_block .friends .friends_label
{
    text-align: center;
    margin-bottom: 10px;
    background-color: #975249;
    padding: 5px;
    color: #fff;
}

.user_profile .left_block .friends .friend
{
    float:left;
    margin-left: 10px;
    text-align: center;
    font-size: 11px;
}

.user_profile .right_block
{
    margin-left: 330px;
    width:900px;
    padding: 5px;
    border-radius: 3px;
}

.user_profile .right_block .user_info
{
    border: 1px solid #dfdfdf;
    padding: 5px;
    border-radius: 5px;
    background-color: #fff;
}

.user_status
{
    float:right;
}

.user_status .online
{
    margin-right: 5px;
    margin-top: 5px;
    width: 15px;
    height: 15px;
    background: #7dff65;
    border: 1px solid #3DBB1E;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
}

.user_status  .offline
{
    margin-right: 5px;
    margin-top: 5px;
    width: 15px;
    height: 15px;
    background-color: #D32B2B;
    border: 1px solid #BB1E1E;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
}

.user_profile .right_block .user_info .user_name
{
    font-size: 18px;
    color: #000;
    padding: 5px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #D5D5D5;
    margin-bottom: 5px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.user_profile .right_block .user_info .about
{
    padding: 9px;
    margin-bottom: 5px;
    margin-top: 24px;
}

.user_profile .right_block .user_info .about p
{
    margin: 4px;
    border-bottom: 1px solid #5C5C5C;
}

.user_profile .right_block .user_info .label {
    padding: 5px;
    text-align: center;
    float: left;
    border-radius: 5px;
    background-color: #A35E5E;
    font-size: 12px;
    color: #fff;
}

.wall
{
    color: #000;
    #border: 1px solid #b0b0b0;
    padding: 10px;
    margin-top: 5px;
    background-color: #fff;
}

.wall .record
{
    border: 1px solid #DBDBDB;
    padding: 10px;
    min-height: 105px;
    margin-bottom: 10px;
}

.wall .record .user_status
{
    float:left;
    position: absolute;
    margin-left: 105px;
    margin-right: 10px;
}

.wall .record .user_status .online
{
    margin-top: 2px;
    height: 10px;
    width: 10px;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
    background-color: #2BD34C;
    border: 1px solid #3DBB1E;
}

.wall .record .user_status .offline
{
    margin-top: 2px;
    height: 10px;
    width: 10px;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
    background-color: #D32B2B;
    border: 1px solid #BB1E1E;
}

.input_form
{
    resize: none;
    width: 600px;
    height: 70px;
    border: 1px solid #D6D6D6;
    resize: none;
}

.wall form
{
    padding-bottom: 10px;
    border-bottom: 1px solid #DBDBDB;
}

.wall .record .wall_record_avatar
{
    border: 1px solid #b0b0b0;
    width: 100px;
    height: 100px;
    float:left;
    margin-right: 10px;
}

.wall .record .wall_record_right_block
{
}

.wall .record .wall_record_username
{
    border-bottom: 1px solid #E7E7E7;
    margin-left: 120px;
    padding-bottom: 10px;
    color: #CCC;
}

.wall .record .text
{
    margin-top: 30px;
    font-size: 12px;
}


.friend_list
{
}

.friend_list .friend
{
    border-bottom: 1px solid #D1D1D1;
    padding-bottom: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.friend_list .friend .user_name
{
    position: absolute;
    margin-left: 100px;
    margin-top: 15px;
    font-size: 16px;
}

.friend_list .friend .right_block
{
    float: right;
    margin: 0px;
    margin-top: 10px;
}

.form
{
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 10px;
    background-color: #fff;
    color:#000;
}

.form label
{
    float:left;
    width:100px;
}

.blog
{
}

.blog .blog_form
{
  min-width: 600px;
  resize: none;
}

.blog .blog_record
{
    border: 1px solid rgb(213, 213, 213);
    padding: 5px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    margin-bottom: 5px;
    background-color: #fff;
}

.blog .blog_record .delete_btn
{
    float: right;
    margin-top: 6px;
}

.blog .blog_record .delete_btn .btn
{
    padding: 4px;
    background-color: #ACACAC;
}

.blog .blog_record .record_privacy
{
    background-color: #975249;
    width: 70px;
    text-align: center;
    padding: 5px;
    color: #fff;
}

.blog .blog_record .record_name
{
    background-color: rgb(247, 247, 247);
    padding: 5px;
    border-left: 2px solid #A3A3A3;
    font-size: 15pt;
}

.blog .blog_record .record_post_time
{
    padding: 10px;
    padding-bottom: 3px;
    border-bottom: 1px solid #E0E0E0;
}

.blog .blog_record .record_post_time_preview
{
    padding: 10px;
    padding-bottom: 3px;
}

.blog .blog_record .record_text
{
    padding: 10px;
}

.blog .blog_record .record_image
{
    padding: 10px;
}

.comment
{
    border: 1px solid #DBDBDB;
    padding: 10px;
    min-height: 105px;
    margin-bottom: 10px;
}

.comment .comment_avatar
{
    border: 1px solid #b0b0b0;
    width: 100px;
    height: 100px;
    float:left;
    margin-right: 10px;
}

.comment .comment_right_block
{
}

.comment .comment_username
{
    border-bottom: 1px solid #E7E7E7;
    margin-left: 120px;
    padding-bottom: 10px;
    color: #CCC;
    font-size: 12pt;
}

.comment .text
{
    margin-top: 30px;
    font-size: 12px;
    margin-left: 120px;
}

.folders
{}

.folders .folder
{
    border: 1px solid #A3A3A3;
    display: inline-block;
    width: 100px;
    height: 100px;
    text-align: center;
    margin-right: 10px;
    font-size: 11px;
    cursor: pointer;
}

.folders .folder .name
{
    margin-top: 50px;
}

.files
{

}

.files .file
{
    border: 1px solid #CACACA;
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin-bottom: 5px;
}

.folder
{
    #height: 300px;
}

.folder .form
{
    border-radius:0px;
    border-bottom:1px solid #cacaca;
    #padding: 10px;
}

.folder .form .comment_input
{
    width: 400px;
}

.folder .comments
{
}

.folder .comments .folder_comment
{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #cacaca;
    padding: 10px;
    margin-top: 8px;
}

.folder .comments .folder_comment .name
{
    border-bottom: 1px solid #D6D6D6;
    padding-bottom: 3px;
    margin-bottom: 3px;
}

.folder .comments .folder_comment .time
{
    color: #808080;
    margin-bottom: 10px;
}

.folder .comments .folder_comment a
{
    color: #975249;
    font-weight: bold;
}

.folder .folder_name
{
    font-size: 28px;
    border-bottom: 1px solid #E4E4E4;
    padding-bottom: 3px;
    margin-bottom: 10px;
}

.folder .file
{
    border:1px solid #000;
    width:200px;
    height:200px;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 40px;
    margin-right: 10px;
    float: none;
}

.folder .file:hover
{
  background-color: #F8F8F8;
}

.folder .file .name
{
    margin-top:210px;
    font-size: 11px;
    position: absolute;
}

.folder .del_btn
{
    margin-top: -60px;
    margin-left: 66px;
}

.folder .file .extension
{
    margin-top: 80px;
    text-align: center;
    font-size: 38px;
}

.notes
{
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.notes hr
{
    border: 0px;
    border-bottom: 1px solid #f8f8f8;
}

.notes .record
{
    border: 1px solid #EEEEEE;
    padding: 10px;
}

.notes .record .time
{
    color: #D6D6D6;
    border-bottom: 1px solid #EEEEEE;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.friend_list
{
    background-color: #fff;
    padding: 10px;
    border-radius:4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.dialogs
{
    background-color: #fff;
    padding: 10px;
    border-radius:4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.dialogs .dialog
{
    border: 1px solid #DFDFDF;
    padding: 10px;
    margin-bottom: 5px;
}

.dialogs .dialog .avatar
{
    display: inline-block;
}

.dialogs .dialog .user_name
{
    display: inline-block;
}

.dialogs .dialog .last_update
{

}

.dialog
{

}

.dialog .message
{
    background-color: #fff;
    border: 1px solid #cacaca;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin-top: 5px;
}

.dialog .message .friend_message
{
    border-radius: 5px;
    background-color: #efefef;
    padding: 20px;
}

.dialog .message .user_message
{
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 20px;
}

.dialog .message .time
{
    color: #CFCFCF;
    border-bottom: 1px solid #F3F3F3;
    padding-top: 5px;
}


.dialog .message .user_message .delete_btn
 {
     margin-top: -57px;
     margin-right: -12px;
 }

.dialog .message .friend_message .delete_btn
{
    margin-top: -57px;
    margin-right: -12px;
}

.dialog .message .user_name{
    color: #975249;
    font-weight: bold;
    display: inline;
}

.label
{
    background-color: #ECECEC;
    padding: 3px;
    font-style: italic; 
}

label
{
    font-style: italic; 
}

.minds
{
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 10px;
    background-color: #fff;
    color: #000;
}

.minds .mind
{
    border: 1px solid #E0E0E0;
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin-bottom: 5px;
}

.minds .mind .time
{
    color: #D6D6D6;
    border-bottom: 1px solid #EEEEEE;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.minds .mind .text
{
    font-size: 14px;
    font-family: "Tahoma";
}

.minds .mind .delete_btn
{
    float: right;
    margin-top: -28px;
}

.events
{
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 10px;
    background-color: #fff;
    color: #000;
}

.events .menu
{
    padding-bottom: 7px;
    margin-bottom: 10px;
    border-bottom: 1px solid #D8D8D8;
}

.events .invites{}

.events .invites .invite
{
    border: 1px solid rgb(213, 213, 213);
    padding: 10px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    margin-bottom: 5px;
    background-color: #fff;
    margin: 5px;
    font-size: 15px;
}

.events .invites .invite .event_name a
{
    color: #975249;
    font-weight: bold;
}

.events .invites .invite .buttons
{
    margin-top: -22px;
    float:right;
}

.events .event
{
    border: 1px solid rgb(213, 213, 213);
    padding: 10px;
    background-color: #fff;
    margin-bottom: 10px;
}

.events .event .time
{
    color: #D6D6D6;
    border-bottom: 1px solid #EEEEEE;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.events .event .name
{
    font-size: 15px;
}

.events .event .name a
{
    color: #975249;
    font-weight: bold;
}

.events .event .description
{
    font-size: 15px;
}

.events .event .members
{
    display: inline-block;
}

.events .event .members .member
{
    display: inline-block;
    margin-right: 20px;
}

.events .event .members .member .name
{
    text-align: center;
    font-size: 10px;
}

.events .event .friends_to_invite{}

.events .event .friends_to_invite .friend
{
    padding: 10px;
}

.events .event_without_border
{
    border: none;
}

.edit_page
{
    background-color: #fff;
    border: 1px solid #E0E0E0;
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin-bottom: 5px;
}

.site_about
{
    background-color: #fff;
    border: 1px solid #E0E0E0;
    padding: 10px;
    padding-top:25px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin-bottom: 5px;
}
